<h1>Place to register new users</h1>

<%= form_with url: "/users/create", local: true  do |f| %>
  <p>
    <%= f.label "First Name"  %><br>
    <%= f.text_field :firstName %>
  </p>
 
  <p>
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lastName %>
  </p>

  <p>
    <%= f.label "Address" %><br>
    <%= f.text_area :address %>
  </p>

<p>
    <%= f.label "User Name" %><br>
    <%= f.text_field :userName %>
  </p>

    <p>
        <%= f.label "Password" %><br>
        <%= f.text_field :password %>
    </p>
    <p>
        <%= f.label "Confirm password" %><br>
        <%= f.text_field :password_confirmation %>
    </p>

 
  <p>
    <%= f.submit "Confirm" %>
  </p>
<% end %>

<p>
    <%= link_to "Back to index", welcome_index_path %>
  </p>
